
/*
/*/*

!config/nvim/
!config/ranger/
!config/sxhkd/
!config/tmux/
!config/vim/
!config/suckless/
!config/x11/

!config/user-dirs.dirs
!config/mimeapps.list
!config/.bashrc
!config/.bash_profile
!config/wall.png
