// Check the wiki for a full description of the configuration:
// ====== https://yalter.github.io/niri/Configuration:-Introduction ======

// ====== https://niri-wm.github.io/niri/Configuration:-Input ======
input {
    // bruh
    disable-power-key-handling

    keyboard {
        repeat-delay 250
    }

    touchpad {
        tap
        dwt
        drag true
        drag-lock
        natural-scroll
    }

    tablet {
        map-to-output "eDP-1"
    }

    touch {
        map-to-output "eDP-1"
    }
}

// ====== https://niri-wm.github.io/niri/Configuration:-Outputs ======
output "eDP-1" {
    // format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    mode "2880x1920@120.000"
    scale 2
    transform "normal"
    position x=-1280 y=0
}

// ====== https://niri-wm.github.io/niri/Configuration:-Layout ======
layout {
    gaps 16

    // customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    // If left empty, the windows themselves will decide their initial width.
    // default-column-width { proportion 1.0; }
    // default-column-width {}

    focus-ring {
        width 4

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.
        active-color "#7fc8ff"
        // The focus ring only draws around the active window, so the only place
        // where you can see its inactive-color is on other monitors.
        inactive-color "#505050"

        // See wiki for gradient colors
    }

    border {
        off
    }

    // See wiki to enable drop shadows for windows.
    shadow {
    }

    // Basically Outer gaps
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}


// ====== https://niri-wm.github.io/niri/Configuration:-Animations ======
animations {
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}


// ====== https://niri-wm.github.io/niri/Configuration:-Window-Rules ======
// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Open file manager as floating 
window-rule {
    match app-id="Nautilus"
    open-floating true
}

// Enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}


// ====== https://niri-wm.github.io/niri/Configuration:-Key-Bindings ======
binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Shift+Alt+L hotkey-overlay-title="Lock the screen"  { spawn "hyprlock"; }

    Mod+Q repeat=false { close-window; }
    Mod+O repeat=false { toggle-overview; }
    Mod+Shift+Ctrl+Backspace repeat=false { spawn "~/.config/niri/power_menu.sh"; }

    Mod+T hotkey-overlay-title="Open a Terminal"            { spawn "kitty"; }
    Mod+B hotkey-overlay-title="Open a Browser"             { spawn "firefox"; }
    Mod+P hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true   { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+U     { focus-window-down; }
    Mod+I     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+J              { focus-workspace-down; }
    Mod+K              { focus-workspace-up; }
    Mod+Shift+J        { move-column-to-workspace-down; }
    Mod+Shift+K        { move-column-to-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+H     { move-column-left; }
    Mod+Shift+U     { move-window-down; }
    Mod+Shift+I     { move-window-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+Ctrl+Left  { focus-monitor-left; }
    Mod+Ctrl+Down  { focus-monitor-down; }
    Mod+Ctrl+Up    { focus-monitor-up; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Ctrl+U          { move-workspace-down; }
    Mod+Ctrl+I          { move-workspace-up; }

    Mod+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+Ctrl+WheelScrollDown       { focus-column-right; }
    Mod+Ctrl+WheelScrollUp         { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma        { consume-window-into-column; }
    Mod+Period       { expel-window-from-column; }

    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R  { reset-window-height; }
    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F  { expand-column-to-available-width; }
    Mod+C       { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Space       { toggle-window-floating; }
    Mod+Shift+Space { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print       { screenshot; }
    Ctrl+Print  { screenshot-screen; }
    Alt+Print   { screenshot-window; }

    Mod+Print   { spawn-sh "~/.config/niri/screen_record.sh"; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Ctrl+Alt+Delete { quit; }
}


// ====== https://niri-wm.github.io/niri/Configuration:-Miscellaneous ======

// Startup apps
spawn-at-startup "hyprlock"
spawn-at-startup "hypridle"
spawn-at-startup "~/.config/niri/battery_notif.sh"

hotkey-overlay {
    // disable "Important Hotkeys" pop-up at startup
    skip-at-startup
}

// Ask the clients to omit their client-side decorations if possible.
prefer-no-csd

// Path where screenshots are saved
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/pix/screenshots/%Y-%m-%d_%H-%M-%S.png"

cursor {
    xcursor-theme "catppuccin-mocha-dark-cursors"
    xcursor-size 24
}
